body, html { 
    height: 100%; 
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

df-three-viewer {
    width: 100%; 
    height: 100%;
    background-color: #323232;
}

#panel {
    position: absolute;
    top: 5px;
    left: 0px;
    bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0000007f;
    opacity: .2;
    transition: all .35s ease-out;
    transform: translate(-95%);
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

#panel:hover {
    opacity: 1;
    transform: none;
}

#panel td {
    padding: 5px;
}

#panel input, #panel select {
    width: 100%;
}

#info {
    font-size: .75rem;
    padding: 5px;
}

